extends layout

block content
    h1= title
    style
        include ../public/stylesheets/table_list.css
    ul
        each table in table_list
            li Table number - №#{table.number}
                |  (capacity: #{table.capacity},
                |  waiter: #{table.waiter.first_name + ' ' + table.waiter.last_name},
                |  location: #{table.location})
        else
            li There are no tables.